<p id="notice"><%= notice %></p>

<div class="cool-box" style="overflow:visible">

	<div style="float:left;width:70%">
	
		<div style="float:left;margin:20px;position:absolute"><%= image_tag @profile.avatar_url(:large), :class => "thumbnail", :width => "200"   %></div>
	
		<h1 style="padding-left:250px;padding-top:30px;padding-bottom:20px;margin:0px;background-color:#fcfcfc"><%= @profile.first_name %> <%= @profile.last_name %></h1>		

		<hr style="margin-top:0px" />
		
		<div style="color:#999;font-size:18px;margin-left:250px"><%= @profile.title %></div>
		
		<div style="margin-left:250px;margin-top:15px"><%= @profile.about_me %></div>
		
		<div style="margin-left:250px;margin-top:15px">
			<% @profile.user.badgeships.each do |badgeship| %>
			
			<a class="label label-success" rel="popover" title="<%= badgeship.badge.name %>" data-content="<%= badgeship.badge.description %>"><%= badgeship.badge.name %></a>
			
			<% end %>
		</div>
	
	</div>
	
	<div style="width:30%" class="cool-sidebar">

		<div style="border-left:1px solid #E8E9EB; padding:20px;">
		
			<div>
				<strong>Location</strong> 
				<%= @profile.city %>, <%= @profile.state %> <%= @profile.country %>
				<hr />
			</div>
			
			<div style="margin-top:10px;line-height:14px">
				<strong>Degrees</strong>
				<% @profile.degrees.each do |degree| %>
				  <br /><br /><span style="font-size:12px">
					<%= degree.university.name %> - <%= degree.end_date.year %><br />
					<%= degree.type_of_degree %> in <%= degree.primary_focus %>
				  </span>
				<% end %>
				<hr />
			</div>
			

<p>
  <b>Conflict:</b>
  <%= @profile.conflict %>
</p>



<p>
  <b>Blog url:</b>
  <%= @profile.blog_url %>
</p>

<p>
  <b>Facebook url:</b>
  <%= @profile.facebook_url %>
</p>

<p>
  <b>Twitter url:</b>
  <%= @profile.twitter_url %>
</p>

		</div>
	
	</div>
	
	<div style="clear:both"></div>

</div>