

<div class="cool-box">

	<div style="width:70%;float:left;">


		<h1 style="background-color:#333;color:#fff;padding:15px;margin:0px;border-top-left-radius:5px;text-shadow:0 1px 0 #ccc;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:400;font-size:28px"><%= @topic.name %></h1>

		<div style="padding:20px;background-color:#fff">
		
			<p style="color:#999"><%= simple_format(@topic.content) %></p>
		
			<p style="color:#ccc">Posted <%= time_ago_in_words(@topic.created_at) %> ago</p>
			
		</div>

		<hr style="margin-bottom:0px;margin-top:0px">
		
		<div style="padding:20px;background-color:#F7F7F7">
		
		
			<% @topic.posts.each do |post| %>
					
				<div>
					<div style="float:left;margin-right:15px">
						<span class="thumbnail"><%= image_tag post.user.profile.avatar_url(:thumb), :width => 75 %></span>
					</div>
					
					<div style="float:left;width:675px;">
						<strong><%= link_to (post.user.profile.first_name + " " + post.user.profile.last_name), profile_path(post.user.profile.id) %></a></strong> <span style="color:#999"><%= post.user.profile.title %></span>
						<div style="font-size:13px;line-height:18px;margin-top:8px"><%= simple_format(post.content) %></div>
					</div>
					<div style="clear:both"></div>
					<div style="color:#999;margin-top:10px;font-size:11px;text-align:right">Posted <%= time_ago_in_words(post.created_at) %> ago</div>
				</div>
				<div style="clear:both"></div>
				<hr>
					
			<% end %>
			
			<% if @topic.posts.count == 0 %>
			
			<div style="text-align:center;color:#888;font-size:18px">Be the first to respond!</div>
			
			<% end %>

		
		</div>
		
		<hr style="margin-top:0px">
		
		<div style="padding:20px">
		
			<div style="font-size:28px;font-weight:bold;margin-bottom:20px">Post a response</div>
			<hr>
			
			<%= simple_form_for([@topic,@newpost]) do |f| %>
			  <%= f.error_notification %>

 			 
 			 
			 <div style="float:left">
			 	<span class="thumbnail"><%= image_tag current_user.profile.avatar_url(:thumb) if current_user.profile.avatar? %></span>
			 </div>
			 <div class="form-inputs" style="margin-left:10px;width:650px;float:left">
			    <%= f.input :content, :label => false, input_html: { style: "height:150px;width:95%" } %>
 			 </div>
 			 
 			<div style="clear:both"></div>
 			  			 
 			  <div class="form-actions" style="text-align:right">
			  	 <%= f.submit 'Post Reply', class: 'btn-primary btn-large' %>
			  </div>
 			 
 			 <div style="clear:both"></div>


			<% end %>

		
		</div>

	</div>

	<div style="background-color:#fcfcfc;width:30%;height:100%;min-height:100%;float:right;border-top-right-radius:5px;border-bottom-right-radius:5px;position:static;right:0px">

		<div style="border-left:1px solid #E8E9EB; padding:20px;">
			<p class="nav-header" style="padding:0px">About the Discussion Leader</p>
			<div style="float:left;margin-right:15px;width:90px">
				<a href="" class="thumbnail"><%= image_tag @topic.user.profile.avatar_url(:thumb) if @topic.user.profile.avatar? %></a>
			</div>

			<div style="float:left;width:200px">
			  <div style="font-size:18px;font-weight:bold;padding-top:5px;padding-bottom:5px"><%= @topic.user.profile.first_name %> <%= @topic.user.profile.last_name %></div>
			    <div style="font-size:14px;line-height:16px;margin-bottom:2px"><%= @topic.user.profile.title %></div>
			    <div style="font-size:10px;color:#999"></div>
			</div>
			
			<div style="clear:both;padding-top:10px;margin-bottom:10px;color:#999;font-size:12px;line-height:18px">
			
				<%= @topic.user.profile.about_me %>
		
			</div>
			
			<div id="badgeships">
			<% @topic.user.badgeships.each do |badgeship| %>
			
			<a href="<%= badge_path(badgeship.badge) %>" class="label label-success" rel="popover" title="<%= badgeship.badge.name %>" data-content="<%= badgeship.badge.description %>"><%= badgeship.badge.name %></a>
			
			<% end %>
			</div>
			<div style="clear:both"></div>

			<hr>
    

			<% if (@ownerresources.count >= 1) then %>
			
			<p class="nav-header" style="padding:0px"><%= @topic.user.profile.first_name %> Recommends You Read:</p>
			
			<% @ownerresources.each do |resource| %>
			
			<div style="font-size:12px;line-height:14px;"><span style="font-weight:bold;font-size:14px"><%= link_to truncate(resource.title, :length => 50), resource_path(resource) %></span><br /><%= resource.comment %><%  if can? :destroy, Resource  %><br /><%= link_to 'Delete', resource, method: :delete, data: { confirm: 'Are you sure?' } %><% end %></div><br />
			
			<% end %>

			
			<hr>
			
			<% end %>
			
			<% if (@userresources.count >= 1) then %>
			
			<p class="nav-header" style="padding:0px">Other Olives Recommend You Read:</p>
			
			<% @userresources.each do |resource| %>
			
			<div style="font-size:12px;line-height:14px;"><span style="font-weight:bold;font-size:14px"><%= link_to truncate(resource.title, :length => 50), resource_path(resource) %> <%  if can? :destroy, Resource  %><%= link_to ' x', resource, method: :delete, data: { confirm: 'Are you sure?' }, style: "float:right" %><% end %></span><br /><%= resource.comment %><br /><span style="color:grey">Posted by <%= link_to (resource.user.profile.first_name + " " + resource.user.profile.last_name), profile_path(resource.user.profile.id) %> <%= time_ago_in_words(resource.created_at) %> ago</span></div><br />
			
			<% end %>
			
			<hr>
			
			<% end %>
			
			
			
			
			<div style="padding:20px;text-align:center"><a href="#myModal" role="button" class="btn btn-large" data-toggle="modal">Add a Resource</a></div>
 
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div id="SpecialForm">
<%= simple_form_for([@topic,@newresource], :html => { :style => "margin:0px" }, remote: true) do |f| %>
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h3 id="myModalLabel">Add a Resource</h3>
</div>
<div class="modal-body" style="max-height:500px !important">
<p style="text-align:left;font-size:12px;line-height:14px;color:#555">Resources.</p>
<hr />

  <%= f.error_notification %>

  <div class="form-inputs" style="text-align:left">
    <%= f.input :url, :input_html => { :style => "width:500px" }, placeholder: "Paste the URL of your resource" %>
		
	<%= f.input :comment, :as => :text, :input_html => { :rows => 3, :style => "width:500px" }, placeholder: "Write a few words about the relevance of this resource and why people should check it out." %>
	
	<%= f.input :tag_list, :input_html => { :style => "width:500px" }, placeholder: "Include three tags separated by commas (i.e. Syria, Civil War, Intervention)", label: "Tags" %>


  </div>


</div>
<div class="modal-footer">
<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
<button class="btn btn-primary" data-loading-text="Retrieving...">Add a Resource</button>
</div>
<% end %>
</div>
</div>
<!-- End Modal -->
			
			<hr>
			
			<p class="nav-header" style="padding:0px">Statistics</p>
					
			<p class="nav-header" style="padding:0px">Tags</p>
								
			<%= raw @topic.tag_list.map { |t| link_to t, topic_tag_path(t), :class => 'label' }.join(' ') %>
				
			<div style="clear:both"></div>


		</div>
		
		<div style="clear:both"></div>


	</div>
	
	<div style="clear:both"></div>


</div>