<h1>Listing jobs</h1>

<table>
  <tr>
    <th>Organization</th>
    <th>Position</th>
    <th>Description</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Is current</th>
    <th>Profile</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @jobs.each do |job| %>
  <tr>
    <td><%= job.organization %></td>
    <td><%= job.position %></td>
    <td><%= job.description %></td>
    <td><%= job.start_date %></td>
    <td><%= job.end_date %></td>
    <td><%= job.is_current %></td>
    <td><%= job.profile %></td>
    <td><%= link_to 'Show', job %></td>
    <td><%= link_to 'Edit', edit_job_path(job) %></td>
    <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Job', new_job_path %>
