<% if can? :read, :home %>
<div class="row">
<div class="span9">

<% @topicsfeatured.each do |topic| %>
<div class="hero-unit">
  <div style="font-size:12px;font-weight:bold;color:#666;margin-bottom:0px;padding:0px;line-height:12px">QUESTION OF THE WEEK</div>
  <h1 style="font-size:53px"><%= topic.name %></h1>
  <p><%= simple_format(truncate(topic.content, :length => 180)) %></p>
  <p>
  	<%= link_to "Post Reply", topic_path(topic), :class => "btn btn-primary btn-large" %>
  </p>
</div>
<% end %>
<div class="row">
<% @resources.each do |resource| %>
  <div class="span3" style="clear:none">
    <div class="thumbnail" style="padding:0px">
    	<div style="padding:10px">
	      <img data-src="holder.js/300x200" alt="">
    	  <h5><a href="<%= resource_url(resource) %>" style="color:#000"><%= truncate(resource.title, :length => 70) %></a></h5>
      		<p style="color:#ccc;font-size:12px;line-height:14px"><%= truncate(resource.description, :length => 125) %></p>
		</div>
		<div style="background-color:#eeeeee;padding:10px">
			<div style="float:left"><%= image_tag resource.user.profile.avatar_url(:tiny) if resource.user.profile.avatar? %></div>
			<div style="float:left;padding-left:8px;line-height:14px;width:200px"><strong><%= link_to resource.user.profile.first_name + " " + resource.user.profile.last_name, profile_path(resource.user.profile) %></strong> <%= resource.comment %></div>
			<div style="clear:both"></div>
		</div>
    </div>
  </div>
<% end %>
</div>


</div>

<div class="span3">


<h3>Recent Topics</h3>
<% @recenttopics.each do |topic|   %>
<div class="media">
  <div class="media-body">
    <h5 class="media-heading"><%= link_to topic.name, topic_path(topic) %></h5>
   Created by <%= topic.user.profile.first_name %> <%= topic.user.profile.last_name %><br/><span style="font-size:12px;color:grey"><%= topic.user.profile.title %></span>
  </div>
</div>
<% end %>

</div>
<% else %>
        <div class="page-header">
            <div class="container">
                <h1>OliveTalk<span style="position:relative;font-size:14px;top:-74px;left:10px;height:14px;line-height:14px">BETA</span></h1>
                <p style="font-size:35px">The exclusive online platform of the Olive Tree Initiative.</p>

                <div class="button-container"><a href="<%= new_user_session_path %>" class="btn">Log In</a></div>

                <div class="button-container"><a href="<%= new_user_registration_path %>" class="btn">Sign Up</a></div>

            </div>
        </div>
        
	<div class="row" style="position:relative;top:490px">
	
	<div class="span4">
		<h4>About the Project</h4>

		<p style="color:#888;font-size:12px">OliveTalk is a next-generation, online conflict analysis platform produced through a collaboration between the Centre for New Diplomacy and Olive Tree Initiative. </p>
		<p style="color:#888;font-size:12px">The platform enables users to connect and discuss, as well as participate in one-of-a-kind direct-engagement opportunities with actors in the Middle East.</p>
	</div>
	
	<div class="span4">
		<h4>About the Olive Tree Initiative</h4>
		<div style="float:left;padding-top:10px;padding-bottom:10px"><img src="/oti.jpg" style="height:100px;margin-right:10px;" /></div>

		<p style="color:#888;font-size:12px">The Olive Tree Initiative promote conflict analysis and resolution through Experiential Education by providing students and community  with the education, training and experiences needed to better negotiate and solve conflicts. Since its establishment in 2007, the Olive Tree Initiative has facilitated seven experiential learning opportunities in Israel/Palestine and Turkey-Armenia.</p>
	</div>
	
	<div class="span4">
		<h4>About the Centre for New Diplomacy</h4>
		<div style="float:left;padding-top:10px;padding-bottom:10px"><img src="https://sphotos-a.xx.fbcdn.net/hphotos-prn1/18989_237085676425673_1233176667_n.png" style="height:100px;margin-right:10px;" /></div>
		<p style="color:#888;font-size:12px">The Centre for New Diplomacy is a non-profit, non-partisan, non-governmental organization established to provide educational, and relationship building opportunities for key stakeholders from all sides of the Middle East regional conflict. The Centre was founded with the belief that nuanced, informed, and first-hand understanding of the region, leads to the emergence of more realistic and constructive approaches to managing intractable conflict.

</p>
	</div>
	

	</div>

	
<% end %>