<% if can? :read, :home %>
<div class="row">
<div class="span9">
<% @topicsfeatured.each do |topic| %>
<div class="hero-unit">
  <h1><%= topic.name %></h1>
  <p><%= topic.content %></p>
  <p>
  	<%= link_to "Post Reply", topic_path(topic), :class => "btn btn-primary btn-large" %>
  </p>
</div>
<% end %>
<ul class="thumbnails">
<% @resources.each do |resource| %>

  <li class="span3">
    <div class="thumbnail" style="padding:0px">
    	<div style="padding:10px">
	      <img data-src="holder.js/300x200" alt="">
    	  <h3><%= resource.title %></h3>
      		<p style="color:#ccc;font-size:14px;line-height:14px"><%= resource.description %></p>
		</div>
		<div style="background-color:#eeeeee;padding:10px">
			<div style="float:left"><%= image_tag resource.user.profile.avatar_url(:tiny) if resource.user.profile.avatar? %></div>
			<div style="float:left;padding-left:8px;line-height:14px;width:200px"><strong><%= link_to resource.user.profile.first_name + " " + resource.user.profile.last_name, profile_path(resource.user.profile) %></strong> <%= resource.comment %></div>
			<div style="clear:both"></div>
		</div>
    </div>
  </li>

<% end %>
</ul>

</div>

<div class="span3">


<h3>Recent Topics</h3>
<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" data-src="holder.js/64x64">
  </a>
  <div class="media-body">
    <h5 class="media-heading">The Economic Cost of War</h5>
    Here's how blah blah
  </div>
</div>
<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" data-src="holder.js/64x64">
  </a>
  <div class="media-body">
    <h5 class="media-heading">The Economic Cost of War</h5>
    Here's how blah blah
  </div>
</div>



<h3>Online Members</h3>
<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" data-src="holder.js/64x64">
  </a>
  <div class="media-body">
    <h5 class="media-heading">Daniel Wehrenfennig</h5>
    Executive Director of Olive Tree Initiative
  </div>
</div>

</div>
<% else %>
        <div class="page-header">
            <div class="container">
                <h1>OliveTalk</h1>
                <p>The exclusive platform of the Olive Tree Initiative.</p>
                <div class="button-container"><a href="<%= new_user_session_path %>" class="btn">Sign In</a></div>
            </div>
        </div>
        
	<div class="row" style="position:relative;top:500px">
	
	<div class="span4">
		<h4>About the Project</h4>
	</div>
	
	<div class="span4">
		<h4>About the Olive Tree Initiative</h4>
		<p></p>
	</div>
	
	<div class="span4">
		<h4>About the Centre for New Diplomacy</h4>
		<p></p>
	</div>
	

	</div>
	
<% end %>