<script src="http://cdn.embed.ly/jquery.embedly-3.0.5.min.js" type="text/javascript"></script>
<script src="http://cdn.embed.ly/jquery.preview-0.3.2.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="http://cdn.embed.ly/jquery.preview-0.3.2.css" />
<script src="https://raw.github.com/wycats/handlebars.js/1.0.0-rc.4/dist/handlebars.js"></script>
   


<div class="row">
<div style="float:left" class="span9">
<div style="float:left;font-size:20px;color:grey;line-height:28px"><span style="font-weight:bold;font-size:24px;color:#000"><em>Pinboard</em></span> is a place to share valuable articles, research, and journals. Browse by tag or share.</div>
<div style="clear:both;padding-top:20px"></div>

<div class="row">
<% @resources.each do |resource| %>


  <div class="span3" style="clear:none;">
    <div class="thumbnail" style="padding:0px;margin-bottom:25px;height:195px;background-color:#eee">
    	<div style="padding:10px;background-color:#fff">
	      <img data-src="holder.js/300x200" alt="">
    	  <h5><a href="<%= resource_url(resource) %>" style="color:#000"><%= truncate(resource.title, :length => 70) %></a></h5>
      		<p style="color:#ccc;font-size:12px;line-height:14px"><%= truncate(resource.description, :length => 125) %></p>
		</div>
		<div style="background-color:#eeeeee;padding:10px">
			<div style="float:left"><%= image_tag resource.user.profile.avatar_url(:tiny) if resource.user.profile.avatar? %></div>
			<div style="float:left;padding-left:8px;line-height:14px;width:200px"><strong><%= link_to resource.user.profile.first_name + " " + resource.user.profile.last_name, profile_path(resource.user.profile) %></strong> <%= resource.comment %></div>
			<div style="clear:both"></div>
		</div>
    </div>
  </div>

<% end %>


</div>

</div>

<div style="float:right;" class="span3">

			<a href="#myModal" role="button" class="btn btn-large btn-primary" data-toggle="modal">Add a Resource</a><br /><br />
 
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div id="SpecialForm">
<%= simple_form_for(@newresource, :html => { :style => "margin:0px" }, remote: true) do |f| %>
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h3 id="myModalLabel">Add a Resource</h3>
</div>
<div class="modal-body" style="max-height:500px !important">
<p style="text-align:left;font-size:12px;line-height:14px;color:#555">Resources.</p>
<hr />

  <%= f.error_notification %>

  <div class="form-inputs" style="text-align:left">
    <%= f.input :url, :input_html => { :style => "width:500px" }, placeholder: "Paste the URL of your resource" %>

    <div class="selector-wrapper"></div>
    <div id="feed"></div>
    <button id="add_resource" class="btn btn-mini">Add</button>
		
	<%= f.input :comment, :as => :text, :input_html => { :rows => 3, :style => "width:500px" }, placeholder: "Write a few words about the relevance of this resource and why people should check it out." %>
	
	<%= f.input :tag_list, :input_html => { :style => "width:500px" }, placeholder: "Include three tags separated by commas (i.e. Syria, Civil War, Intervention)", label: "Tags" %>


  </div>


</div>
<div class="modal-footer">
<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
<button class="btn btn-primary" data-loading-text="Retrieving...">Add a Resource</button>
</div>
<% end %>
</div>
</div>
<!-- End Modal -->
	
	<div style="background-color:#F7F7F7;border-radius:5px;border:1px solid #d9d9d9">
	
		<div style="padding:20px">
			
			<h4 style="padding:0px;margin:0px">Browse by Tag</h4>
			<hr />
 				 <% tag_cloud Resource.tag_counts, %w[label] do |tag, css_class| %>
 				   <%= link_to tag.name, resource_tag_path(tag.name), class: css_class, style: "margin-bottom:5px" %><br />
 				 <% end %>
			
			
			
	
		</div>
		
	</div>

</div>

<div style="clear:both"></div>



</div>




<script type="text/javascript">
      var selector_source = ['<div class="selector">',
    '<div class="thumb">',
    '<div class="items">',
      '<ul class="images">',
        '{{!#each images }}',
          '<li><img src="{{!this.url}}"/></li>',
        '{{!/each}}',
      '</ul>',
    '</div>',
  '</div>',
  '<div class="attributes">',
    '<span class="title">{{!title}}</span>',
    '<span class="provider">{{!provider_url}}</span>',
    '<p>{{!description}}</p>',
    '<div class="meta">',
      '<ul>',
        '<li><a href="#" class="left"><i class="icon-caret-left"></i></a></li>',
        '<li><a href="#" class="right"><i class="icon-caret-right"></i></a></li>',
      '</ul>',
      '<span class="pages">',
        '<span class="current">1</span> of <span>{{!images_count}}</span> Choose a Thumbnail</span>',
      '</span>',
    '</div>',
    '<span class="no-thumbnail"><input type="checkbox"/>No Thumbnail</span>',
  '</div>',
  '<div class="action"><a href="#" class="close"><i class="icon-remove"></i></a></div>',
  '<div class="cf"></div>',
'</div>'].join('');
 
var display_source = ['<div class="row">',
  '<div class="twelve columns">',
    '<div class="update">',
      '<p>{{!status}}</p>',
      '<div class="meta">',
        '<div class="thumbnail">',
          '<img src="{{!thumbnail_url}}"/>',
        '</div>',
        '<div class="attributes">',
          '<span class="title">{{!title}}</span>',
          '<span class="provider">{{!provider_url}}</span>',
          '<p>{{!description}}</p>',
        '</div>',
      '</div>',
    '<div class="cf"></div>',
    '</div>',
  '</div>',
'</div>'].join('');
 
var selector = {
  render: function($elem, data, preview){
    // We need to know what to do when everything is closed up.
    $elem.on('close', function(){
      $('.selector-wrapper').html('');
    });
 
    // set the images count;
    data.images_count = data.images.length;
 
    // Create the handlebars template.
    var template = Handlebars.compile(selector_source);
    var html = template(data);
    $('.selector-wrapper').html(html);
 
    // if we close the selector, do the work.
    $('.selector-wrapper .close').on('click', function(){
      $('#resource_url').trigger('close');
      $('.selector').remove();
      return false;
    });
 
    // Set up the thumb.
    $('.thumb').thumb({
      onchange: function(img){
        if (img === null){
          preview.update('thumbnail_url', null);
        } else {
          preview.update('thumbnail_url', $(img).attr('src'));
        }
      }
    });
 
    // set up the click events for toggle.
    $('.left').on('click', function(){
      $('.thumb').trigger('left');
      $('.meta .current').text($('.thumb').data('current'));
      return false;
    });
    $('.right').on('click', function(){
      $('.thumb').trigger('right');
      $('.meta .current').text($('.thumb').data('current'));
      return false;
    });
 
    $('.no-thumbnail input').on('change', function(){
      // Toogle the thumbnail information.
      $('.meta').toggle();
      var action = $(this).prop('checked')? 'hide':'show';
      $('.thumb').trigger(action);
    });
  }
};
 
// Set up preview on the status element.
$('#resource_url').preview({
  key:'c840fa76c579422694e3c28bec58fdfa'
})
  .on('focus', function(){
    $(this).parents('.updater').addClass('active');
  });


// If the user click post render the display template.
$('#add_resource').on('click', function(){
  // Get the data stored on the element.
  var data = $('#resource_url').data('preview');
  // add the status
  data.status = $('#resource_url').val();
 
  // Close up shop.
  $('#resource_url').trigger('close');
  $('#resource_url').val('');
  $('.updater').removeClass('active');
 
  // Get the template and insert the html.
  var display_template = Handlebars.compile(display_source);
  var html = display_template(data);
  $('#feed').append(html);
});
    </script>